body
{
    font-family: 'Open Sans', sans-serif;
    line-height:28px;
}


header
{
  background-color: #f7f7f7;
  border-top:5px solid #333333;
  width:100%;
}

footer
{
  padding:25px 50px 25px 50px;
  color:#000;
  font-size:18px;
  background-color: #f7f7f7;
  text-align: right;
  border-top:5px solid #333333;
  height: 80px;
  margin: auto;
}

/*menu bar to accomodate small devices*/
.topnav
{
  background-color: #f7f7f7;
  border-bottom:5px solid #333333;
  width:100%;
  height: 100px;
  position: sticky;
}
.menu
{
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 50px;
  width: 30%;
  float: right;
  display: block;
}

/* search bar */
.search-bar
{
  width: 50%;
  margin: auto;
  background-color: #f2f2f2;
  border: 1px #b3b3b3 solid;
  border-radius: 5px;
  padding: 50px;
}
.box [style]
{
  width: 20px !important;
  padding: 10px;
  font-size: 18px;
}
.search_but
{
  float: right;
  display: block;
  color: #f2f2f2;
  background-color: #262626;
  text-align: center;
  font-size: 18px;
  border: 1px #666666 solid;
  border-radius: 4px;
  cursor: cursor;
  padding: 10px;
}
.search_but:hover
{
  background-color: #ddd;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.headings
{
  width: 30%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 1px #b3b3b3 solid;
  border-radius: 2px;
  background-color: white;
  font-size: 18px;
}

.search_but1
{
  float: right;
  display: block;
  color: #f2f2f2;
  background-color: #262626;
  text-align: center;
  font-size: 18px;
  border: 1px #666666 solid;
  border-radius: 4px;
  cursor: cursor;
  padding: 10px;
}
.search_but1:hover
{
  background-color: #ddd;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
/* Style the links inside the navigation bar */
.login_but,.signup_but
{
  float: right;
  color: white;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px;
  border: none;
  text-align: center;
  display: inline-block;
  background-color: #f7f7f7;
  color: black;
}

.signup_but:hover
{
  background-color: #cccccc;
  color: white;
  font-weight: bold;
}
.login_but:hover
{
  background-color: #cccccc;
  color: white;
  font-weight: bold;
}

.signup_but:active
{
  background-color: #000000;
  color: black;
  font-weight: bold;
}
.login_but:active
{
  background-color: #000000;
  color: black;
  font-weight: bold;
}
@media screen and (max-width: 500px)
{
  .login_but,.signup_but
  {
     display: block;
     float: right;
     padding: 5px;
  }
  .main_heading
  {
    float:left;
    padding-right: 0;
  }
}

.search_page
{
  width: 70%;
  margin: auto;
  padding: 10px;
  border: 1px #e6e6e6 solid;
  background-color: white;
}

/*main heading*/
.main_heading
{
  color: black;
  font-weight: bold;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 50px;
  float: left;
}

/*table design*/
table
{
  margin: auto;
  text-align: center;
  border-collapse: collapse;
  border: 1px black solid;
  border-radius: 10px;
  color: black;
  overflow-x: auto;
}
th
{
  border: none;
  padding: 5px;
  color: white;
  background-color: #1a1a1a;
}
td
{
  border: 1px #e6e6e6 solid;
  padding: 5px;
  color: black;
}

tr:nth-child(even)
{
  background-color: #ffffff;
}
tr:nth-child(odd)
{
  background-color: #f2f2f2;
}


.pager-nav {
    margin: 16px 0;
}
.pager-nav span {
    display: inline-block;
    padding: 4px 8px;
    margin: 1px;
    cursor: pointer;
    font-size: 14px;
    background-color: #FFFFFF;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}
.pager-nav span:hover,
.pager-nav .pg-selected {
    background-color: #f9f9f9;
    border: 1px solid #CCCCCC;
}
/*login page design*/
.form_design
{
  width: 50%;
  margin: auto;
  background-color: #f2f2f2;
  border: 1px #b3b3b3 solid;
  border-radius: 10px;
  padding: 50px;
}

#login
{
  text-align: center;
}
/* Extra styles for the cancel button */
.cancelbtn1 {
  background-color: #f44336;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
}

.container1 {
  padding: 16px;
}

span.password {
  float: right;
  padding-top: 16px;

}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.password {
     display: block;
     float: none;
  }
  .cancelbtn1 {
     width: 100%;
  }
}


/* Extra styles for the cancel button */
.cancelbtn {
  background-color: #f44336;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
}


/* Add padding to container elements */
.container {
  padding: 16px;
  width: auto;
}


/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/*end of login form*/


/* Full-width input fields */
input[type=text], input[type=password], input[type=tel]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 1px #b3b3b3 solid;
  border-radius: 5px;
  background: #d9d9d9;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus, input[type=tel]:focus {
  background-color: #ffffff;
  outline: none;
}

/*signup form*/
/* Start of design for signup form*/
/*full form layout*/
.form_design1
{
  width: 50%;
  margin: auto;
  padding: 50px;
  background-color: #f2f2f2;
  border: 1px #b3b3b3 solid;
  border-radius: 10px;
}

/* Set a style for all buttons */
.signupbtn,.signinbtn {
  background-color: #006600;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
  opacity: 0.9;
}

.signupbtn:hover {
  opacity:1;
}
,.signinbtn:hover {
  opacity:1;
}
/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;

}


/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/*h1 styling for signup text*/
.signup_text
{
  text-align: center;
}

/* Clear floats */
.bot_button::after {
  content: "";
  clear: both;
  display: table;
}



/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}

/* reserve page */
.book_reserve
{
  float: left;
}
.book_but
{
  padding: 16px;
  width: auto;
}
